:root {
  --main-bg-color-lightness: 100%;
  --focus-bg-color-lightness: 50%;
}

/* ------------------ List Item -----------------*/
/* li refers to the application-specific list item, not the html tag */
.li-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start safe;

  gap: 0.5em;
}

.li-checkbox {
  display: inline-flex;
  flex-shrink: 10;
}

.li-name-container {
  display: inline-flex;
  flex-grow: 1;
}

.li-name {
  flex-grow: 1;
}

.li-unit-container {
  flex-shrink: 1;
}

.li-amount {
  width: 3em;
  /* flex does not seem to want to change this input so we set it statically */
}

.inactive {
  display: none;
}

.dropdown {
  display: block;
  position: relative;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  width: min-content;
  position: absolute;
  right: 0;
  z-index: 1;
  padding: 5px;
  border: 1px solid #999999;
  border-radius: 3px;
}

.dropdown-trigger {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
}


/*=========== List ==================== */
.list-loading {
  width: 5em;
  height: 5em;
}

/* =============== Login ===================== */
.login {
  display: flex;
  flex-direction: column;
}

/* ============== Homepage ==================== */
.add-list {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
}

.modal-container {
  height: fit-content;
  width: 50%;

  position: absolute;
  left: 25%;
  top: 30%;
  z-index: 101;

  background-color: hsl(0, 0%, var(--main-bg-color-lightness));
}

.modal-grid {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 5%;
}

.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;

  /* Grey out background */
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, calc(100% - var(--main-bg-color-lightness)));
  background-blend-mode: color-burn;
  opacity: 60%;

  /* Look and feel */
  padding: 1em;
}

.modal-item {
  align-self: center;
}

/* =============== General ===================*/
button {
  display: flex;
  align-content: center;
  justify-content: center;
  min-height: 1.8em;
  line-height: 1.8em;
  min-width: 1.8em;
  /* TODO: ??? */
}

.button-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
}

.floating-button {
  border-radius: 100%;
}

.floating-button:hover {
  background-color: hsl(0, 0%, --focus-bg-color-lightness);
  /* background-color: #cccccc; */
  /* TODO: colour concept */
}

.input {
  height: 1.6em;
}

.circular-loading-indicator {
  height: 100%;
  width: 100%;

  text-indent: -9999em;
  border-radius: 50%;
  background: black;
  background: linear-gradient(to right, #000000 10%, rgba(255, 255, 255, 0) 42%);
  animation: cli-animation 1s infinite linear;
  transform: translateZ(0);

  position: relative;
}


.circular-loading-indicator:before {
  width: 50%;
  height: 50%;
  background: black;
  border-radius: 100% 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.circular-loading-indicator:after {
  background: white;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@keyframes cli-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}