# Standard rust:
**/target
**/dist

# run-script target directory
.cache

# ignore working files
**/data.sled
**/sessions.sled
**/backend.toml
/backend/web_root
**/*.pem

frontend/bower_components/**

# Project-wide rust settings (uncomment to change)
# **/.rustfmt.toml
# **/rustfmt.toml
# configure your linker here if needed
/.cargo/config.toml
