# For storing debug files:
/test

# Standard rust:
**/target
**/dist

# ignore working files
**/data.sled
**/sessions.sled
**/*.pem

frontend/bower_components/**

# Project-wide rustfmt settings (uncomment to change)
# **/.rustfmt.toml
# **/rustfmt.toml